.leaflet-container {
    font: 18px/1.5 "Arapey", serif;
    color: rgb(181, 181, 181);
}

// Leaflet bar

.leaflet-bar {
    background-color: transparent;
	border: 0;
    box-shadow: none;
   	border-radius: 0;
    z-index: 1000;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: transparent;
    border-bottom: 0;
    width: 40px;
    height: 40px;
    color: transparent;
}

.leaflet-bar a.leaflet-disabled {
    opacity: 0.5;
    color: transparent;
    background-color: transparent;
}

// Controls

.leaflet-control {
    float: left;
    clear: none;
}

.leaflet-left {
    width: 100%;
}

.leaflet-left .leaflet-control {
    margin-left: 0;
    padding-left: 10px;
}

// Specific zoom classes

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	float: right;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.leaflet-control-zoom-out {
  	background-image: url('../images/minzoom.svg');
}

.leaflet-control-zoom-in {
    background-image: url('../images/pluszoom.svg');
    margin-left: -6px;
}

.leaflet-control-zoom-out:hover,
.leaflet-control-zoom-in:hover {
    opacity: 1;
}
