.leaflet-top, .leaflet-left {
    width: 100%;
}

.leaflet-bar {
    background-color: transparent;
	border: 0;
    box-shadow: none;
   	border-radius: 0;
    z-index: 1000;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: transparent;
    border-bottom: 0;
    width: 40px;
    height: 40px;
    color: transparent;
}

.leaflet-bar a.leaflet-disabled {
    opacity: .5;
    color: transparent;
    background-color: transparent;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	float: right;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.leaflet-control-zoom-out {
  	background-image: url('../images/minzoom.svg');
}

.leaflet-control-zoom-in {
    background-image: url('../images/pluszoom.svg');
    margin-left: -6px;
}

.leaflet-control-zoom-out:hover {
    opacity: 1;
}

.leaflet-control-zoom-in:hover {
    opacity: 1;
}

.leaflet-control-layers {
    box-shadow: 0;
    background: tranparent;
    border-radius: 0;
}

.leaflet-control-layers-expanded {
    padding: 0;
    background: transparent;
    width: 100%;
}

