@import 'variables';

.hdat-control-play {
    margin: 0;
    width: 5%;
    margin-top: -100px;
}

.hdat-control-play button {
	position: absolute;
    margin-left: 13px;
    margin-top: 36px;
    height: 42px;
    width: 37px;
    border: 0;
    outline: 0; 
    background-color: transparent;
    background-image: url('../assets/images/icons/play.svg');
    background-repeat: no-repeat;
}

.hdat-control-play .pause {
    background-image: url('../assets/images/icons/pause.svg');
}

.hdat-control-season {
	position: absolute;
	transform: rotate(-90deg);
	bottom: 140px;
	left: -17px;
}

.seasons {
	font-family: GothamLight;
	text-transform: uppercase;
	float: left;
}
.hdat-year {
	font-family: GothamMedium;
	float: left;
}
.hdat-control-timeline {
  margin-bottom: 0 !important;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: none;
  position: absolute;
  bottom: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url('../assets/images/icons/needle.png');
  background-size: 3px 110px;  
  height: 110px;
  width: 3px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background-image: url('../assets/images/icons/needle.png');
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  background-image: url('../assets/images/icons/needle.png');
  height: 36px;
  width: 16px;

  cursor: pointer;
}