$height-li:		45px;
$width-li:		45px;

$box-color:		#737373;
$box-fill:		#c6c6c6;
$svg-fill:		#aea8a2;

.left-fixed-menu {
	background-color: #303030;
	height: 100%;
	width: $width-li;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}

#left-menu {
	z-index: 99999;
	padding: 0;
	position: absolute;
	margin-top: 150px;
}

#left-menu li {
	list-style-type: none;
	height: $height-li;
	width: $width-li;
}

/* Basic template */
.icon-base {
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	cursor: pointer; 
	border-top: 1px solid #404040;
}
.tag-base {
	display: block;
	margin-left: 55px;
	height: 22px;
	background-color: $box-fill;
	opacity: 1;
	position: absolute;
	margin-top: 14px;
}
.texttag-base {
	display: none;
	padding: 2px 10px 0 10px;
	font: 12px/1.5 "EB Garamond", serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: $box-color;
	white-space: nowrap;
}

/* Specific icons */
.storymode-icon {
	@extend .icon-base;
	background-image: url(../assets/images/icons/book.svg);
	&:hover {
		background-image: url(../assets/images/icons/bookhover.svg);
	}
}

.storymode-tag { @extend .tag-base; }
.storymode-text { @extend .texttag-base; }

.minardmode-icon {
	@extend .icon-base;
	background-image: url(../assets/images/icons/filterthin.svg);
	background-size: 19px;
	&:hover {
		background-image: url(../assets/images/icons/filterthinhover.svg);

	}
}

.gear-icon {
	@extend .icon-base;
	background-image: url(../assets/images/icons/gear.svg);
	background-size: 19px;
	&:hover {
		background-image: url(../assets/images/icons/gearhover.svg);
	}
}
.share-icon {
	@extend .icon-base;
	background-image: url(../assets/images/icons/share.svg);
		background-size: 19px;

	&:hover {
		background-image: url(../assets/images/icons/sharehover.svg);
	}
}

.minardmode-tag { @extend .tag-base; }
.minardmode-text { @extend .texttag-base; }

.legenda {
	padding: 45px 0 0 0;
}
.minardcolor-legenda {
	height: 6px !important;
	background-color: #3cbee7;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(60,190,231,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(60,190,231,1);
	box-shadow: 0px 0px 8px 0px rgba(60,190,231,1);
	&:hover {
/*		background-color: red;
*/	}
}