@import 'variables';

$timeline-height: 120px;

@mixin width-extend-animation {
	transition: width .5s ease-in-out;
}

.timeline {
	position: absolute;
	bottom: 0;
	height: $timeline-height;
	width: calc(100% - #{$width-li});
	margin: 0 0 0 0;
	z-index: 1;
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(45,43,54,.8) 100%);
	@include width-extend-animation;
}

.timeline[max-width="800px"] {
	.hide-narrow {
		display: none;
	}
	.year {
		width: 20%;
	}
}
.year {
	background: url('../assets/images/timedivider.svg');
	background-repeat: no-repeat;
	background-position: right;
	height: $timeline-height;
	width: 10%; //belangrijk
	float: left;
	text-align: right;
}

.timeline-triggered {
	width: calc(200% - #{$width-li});
	@include width-extend-animation;
}

.timeline-triggered	.year .decade-needles {
	transition: transform .5s ease-in-out;
	transition-delay: .3s;
    transform: translateY(0);
	background: url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png');
	background-position: 10% 0, 20% 0, 30% 0, 40% 0, 50% 0, 60% 0, 70% 0, 80% 0, 90% 0;
	background-repeat: no-repeat;
}

.year span {
	padding-right: 7px;
	padding-top: 90px;
	display: block;
	font-family: GothamMedium;
	font-size: 10px;
	color: #626262;
	letter-spacing: 1.2px;
	margin-top: -120px;
}

/* De Slider */
input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: calc(100% - #{$width-li});
	background: none;
	position: absolute; /* Goed kijken of dit werkt! */
	bottom: 0;
	@include width-extend-animation;
	cursor: ew-resize;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent; /* Hides the slider so custom styles can be added */
	border-color: transparent;
	color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url('../assets/images/icons/needle.png');
  background-size: 3px 110px;  
  height: 110px;
  width: 3px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  background-image: url('../assets/images/icons/needle.png');
  background-size: 3px 110px;  
  height: 110px;
  width: 3px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  background-image: url('../assets/images/icons/needle.png');
  background-size: 3px 110px;  
  height: 110px;
  width: 3px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Timeline hover dinges */
input[type=range]:hover {
	width: calc(200% - #{$width-li});
	@include width-extend-animation;
}

.decade-needles {
	width: 100%;
	height: 100%;
	transform: translateY(100%);
}

/* Timeline width increase */
.leaflet-map-pane, .leaflet-top, .hdat-control-season, .hdat-control-play {
	position: fixed;
}