@import 'variables';

$timeline-height: 120px;

@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

.timeline {
	height: $timeline-height;
	width: 100%;
	z-index: 1;
	position: absolute;
	bottom: 0;
}
.timeline[max-width="800px"] {
	.hide-narrow {
		display: none;
	}
	.year {
		width: 20%;
	}
}
.year-container {
	padding: 0;
}
.year {
	background: url('../assets/images/timedivider.svg');
	background-repeat: no-repeat;
	background-position: right;
	height: $timeline-height;
	width: 10%; //belangrijk
	float: left;
	text-align: right;
/*	&:last-child {
		background: none;
	}*/
}

.year span {
	padding-right: 7px;
	padding-top: 90px;
	display: block;
	font-family: GothamMedium;
	font-size: 10px;
	color: #626262;
	letter-spacing: 1.2px;
}

/* De Slider */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	@include calc("width", "100% - #{$width-li}");  /* Specific width is required for Firefox. */
  background: none;
/*  width: 100%;
*/  position: absolute; /* Goed kijken of dit werkt! */
  /*position: absolute;*/
  bottom: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url('../assets/images/icons/needle.png');
  background-size: 3px 110px;  
  height: 110px;
  width: 3px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  background-image: url('../assets/images/icons/needle.png');
  background-size: 3px 110px;  
  height: 110px;
  width: 3px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  background-image: url('../assets/images/icons/needle.png');
  background-size: 3px 110px;  
  height: 110px;
  width: 3px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Timeline hover dinges */
.timeline-player {
	margin-left: $width-li;
	height: $timeline-height;
	@include calc("width", "100% - #{$width-li}");
	@include background(linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(45,43,54,.8) 100%));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2d2b36',GradientType=0 ); /* IE6-9 */
	z-index: 10000;
}

input[type=range]:hover {
	@include calc("width", "200% - #{$width-li}");
}

.timeline-player-increased {
	@include calc("width", "200% - #{$width-li}");
}

.extra-years {
	background: url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/icons/needle_thin2.png'),
				url('../assets/images/timedivider.svg'),;
	background-position: 10% 0, 20% 0, 30% 0, 40% 0, 50% 0, 60% 0, 70% 0, 80% 0, 90% 0, 100% 0;
	background-repeat: no-repeat;

	transition: background-image 1s cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

/* Timeline width increase */
.leaflet-map-pane, .leaflet-top, .hdat-control-season, .hdat-control-play {
	position: fixed;
}
