@import '../../node_modules/leaflet/dist/leaflet.css';
@import "../../node_modules/compass-mixins/lib/_compass";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'leafletChanges';
@import 'leafletPlayback';
@import 'leftMenu';
	@import 'narratives';
		@import 'player';
	@import 'share';
	@import 'filter';
@import 'timeline';
@import 'event';
	@import 'eventList';


body {
	margin: 0;
	overflow-y:hidden;
}

/* Dit ook nog voor niet webkit */
::-webkit-scrollbar { 
    display: none; 
}