@import '../../node_modules/leaflet/dist/leaflet.css';
@import "../../node_modules/compass-mixins/lib/_compass";
@import 'essentials/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'map/leafletChanges';
@import 'map/leafletPlayback';
@import 'interface/menu';
	@import 'interface/shipviewer';
	@import 'interface/share';
	@import 'interface/filter';
@import 'interface/timeline';
@import 'interface/event';
	@import 'interface/wip/eventList';


body {
	margin: 0;
	overflow-y:hidden;
}

/* Dit ook nog voor niet webkit */
::-webkit-scrollbar { 
    display: none; 
}