/* vendor */
@import "../../bower_components/normalize.css/normalize";
@import "../../bower_components/leaflet/dist/leaflet";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

/* fonts */
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

/* normal */
@import "leafletChanges";
@import "menu";

* {
    box-sizing: border-box;
    font: 18px/1.5 "Arapey", serif;
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
    background: black;
}

#map {
    width: 100%; 
    height: 100%;
}


@-webkit-keyframes 'blink' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.hdat-shipicon:hover {
    animation-name: blink;
    animation-direction: normal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;   
}

/* Time top */
.hdat-control-season {
    width: 20%;
    // background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.hdat-control-season p {
    margin: 6px 0 0 10px;
}

.hdat-control-play {
    margin: 0;
    width: 5%;
}

.hdat-control-play button {
    margin-left: 9px; //tijdelijK!
    height: 40px;
    width: 40px;
    border: 0;
    outline: 0; 
    background-color: transparent;
    background-image: url('../images/play.svg');
}

.hdat-control-play .pause {
    background-image: url('../images/pause.svg');
}

.hdat-control-timeline {
    width: 70%;
    padding-right: 40px;
    float: right;
}

.hdat-control-timeline input {
    width: 100%;
}

.hdat-control-timeline p {
    margin: 0;
    font-size: 0.8em;
    float: left;
    margin-top: -12px;
}

.hdat-control-timeline p:nth-child(2){
    float: right;
}

.form-button {
    position: absolute;
    top: 13px;
    right: 13px;
    height: 33px;
    padding: 2px 30px 0 30px;
    background:transparent;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 20px;
    z-index: 999000000;
    color: rgb(181, 181, 181);
    opacity: 1;
    transition: opacity 2s;
    text-decoration: none;
}

.form-button:hover {
    border: 1px solid white;
    background: rgba(181, 181, 181, 0.05);
}

@-webkit-keyframes 'blink' {
    0% {
        background:rgba(181, 181, 181, 0.1);
        color: lighten(rgb(181, 181, 181), 0%);
    }
    50% {
        background:rgba(181, 181, 181, 0);
        color: lighten(rgb(181, 181, 181), 40%);
    }
    100% {
        background:rgba(181, 181, 181, 0.1);
        color: lighten(rgb(181, 181, 181), 0%);
    }
}

.form-timer {
    animation-name: blink;
    animation-direction: normal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;   
}
