/* vendor */
@import "../../bower_components/normalize.css/normalize";
@import "../../bower_components/leaflet/dist/leaflet";

/* normal */
@import "leafletChanges";

body {
	width: 100%;
	height: 100%;
	position: absolute;
    background: black;
}

#map {
    width: 100%; 
    height: 100%;
}

/* Time top */
.hdat-control-season {
    width: 10em;
    // background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    color: rgb(181, 181, 181);
}

.hdat-control-season p {
    margin: 9px 0 0 10px;
}

.hdat-control-play button {
    height: 40px;
    width: 40px;
    outline: 0; 
    background-color: transparent;
    border: 0;
    background-image: url('../images/play.svg');
}

.hdat-control-play .pause {
    background-image: url('../images/pause.svg');
}


/* Marker animation */
@-webkit-keyframes 'blink' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.customIcon:hover {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
	-webkit-animation-timing-function: ease-in-out;   
}
