@import 'variables';

@font-face {
  font-family: 'GothamMedium';
  src: url('../assets/fonts/gotham-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/gotham-medium-webfont.eot?#iex') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/gotham-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/gotham-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/gotham-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'GothamLight';
  src: url('../assets/fonts/gotham-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/gotham-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/gotham-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/gotham-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ChronicleDisRoman';
  src: url('../assets/fonts/ChronicleDisplay-Roman.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/ChronicleDisplay-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/ChronicleDisplay-Roman.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'ChronicleDisSemi';
  src: url('../assets/fonts/ChronicleDisplay-Semi.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/ChronicleDisplay-Semi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/ChronicleDisplay-Semi.woff') format('woff'); /* Pretty Modern Browsers */
}